<div class='container'>
	<div class="row">
		<div class="col-lg-4">
			<h1 id='welcomeTitle'>Welcome, <%= @current_user.first_name.capitalize %>!</h1>
			<hr>
			<div id="userSettings">
				<h4>Profile Settings</h4>
					<hr>
					<p> Name: <%= @current_user.first_name %> <%= @current_user.last_name %>  </p>
					<p> Email Address: <%= @current_user.email %> </p>
					<p> City: <%= @current_user.current_city %> </p>
					<p> User Since: <%=  @current_user.created_at.strftime("%B %d, %Y")%> </p>
					<%= link_to "Edit Profile", '/users/edit', class:"btn btn-primary" %> 
					<hr>
			</div>
		</div>
		<div class="col-lg-8">
			<h1 id='myStoriesTitle'>My Stories</h1>
				<% current_user.stories.each do |story| %>
				  <p><%= story.user_id %> - <%= story.title %> - <%= story.body %></p>
				<% end %>
			<hr>
		</div>
	</div>

</div>
