
<h1>Profile Page</h1>

<%= @current_user.first_name %>
<%= @current_user.last_name %>
<%= @current_user.email %>
<%= @current_user.current_city %>
<%= @current_user.join_date %>

<hr>
<h3>My Stories</h3>
<% current_user.stories.each do |story| %>
  <p><%= story.author %> - <%= story.title %> - <%= story.body %> - <%= story.location %> </p>
<% end %>

