<div class="container"> 
	<div id="myStoryPage">
			<h1 id='myStoriesTitle'> <strong> <%= @story.title %> </strong> </h1>
			<hr>
		  <p> Posted By: </p>
		  <p> <%= image_tag @story.user.avatar.url(:medium), class: 'img-circle', alt: 'Cinque Terre', width: '160', height: '140'  %></p>
		  <p> <%= @story.user.first_name %> <%= @story.user.last_name %> </p>
		  <p> About the Beautiful City of <%= @story.city.city_name %></p>
		  <hr>
		  <%= @story.body %>  
		  <hr>
		  
		     <%= link_to "Edit Post", edit_story_path, class:"btn btn-primary" %> 
			  <%= link_to "Delete", @story, method: :delete, data: { confirm: "are you sure?" }, class:"btn btn-primary" %> 	
	</div>
</div>

    
