<h1 id='myStoriesTitle'>  <%= @city.city_name %> </h1>

<%= link_to "New Post", '/stories/new', class:"btn btn-primary" %> 
<% @stories.each do |story| %>
    
	
    <%= story.title %> 
    <hr>
      <%= story.body %>    
<% end %>
<%= link_to "New Post", '/stories/new', class:"btn btn-primary" %> 
